# ***BEST TEST ERRORS WITHIN THIS NOTEBOOK (ORDERED BY ACCURACY)***

> Neural Network Model: 0.2275 (See BEST NN MODEL FOUND Section)
---
> KNN Classifier Model: 0.2502
---
> Linear Regression Model: 0.3089
---
> Ridge Regression Model: 0.3089
---
> Lasso Regression Model: 0.9816
---
> Elastic Net CV  Model: 0.9858
---

# Importing Libraries

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import seaborn as sns
import statsmodels.api as sm
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LassoCV
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import ElasticNetCV
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# Backward-Stepwise Variable Selection with AIC

In [ ]:
ATM_train = pd.read_csv("ATM_training.csv")
ATM_train = ATM_train.dropna()

In [ ]:
aics = {'None':[],'Shops':[], 'ATMs':[], 'Downtown':[], 'Weekday':[], 'Center':[],'High':[]}

formula = 'Withdraw ~ Shops + ATMs + Downtown + Weekday + Center + High'
model = smf.ols(formula, ATM_train)
results = model.fit()
aics["None"].append(results.aic)

for predictor in ['Shops', 'ATMs', 'Downtown', 'Weekday', 'Center','High']:
  array = ['Shops', 'ATMs', 'Downtown', 'Weekday', 'Center','High']
  formula = 'Withdraw ~ '
  array.remove(predictor)
  count = 0
  for pred in array:
    if count == 0:
      formula += ' ' + pred
      count += 1
    else:
      formula += ' + ' + pred
  model = smf.ols(formula, ATM_train)
  results = model.fit()
  aics[predictor].append(results.aic)
for val in sorted(aics.items(), key=lambda x:x[1]):
  print(val)

('None', [102773.75332957253])
('High', [103439.54001957676])
('Downtown', [104375.47924993062])
('Weekday', [110175.78819794345])
('ATMs', [111989.15389449417])
('Shops', [112424.65910466018])
('Center', [115218.43711395137])

# Interaction Effects Selection by Significance

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
X_train = ATM_train[ATM_train.columns.drop('Withdraw')]
y_train = ATM_train[['Withdraw']]
poly = PolynomialFeatures(3)
output_nparray = poly.fit_transform(X_train)
dc = poly.get_feature_names(X_train.columns)
X_train = pd.DataFrame(output_nparray, columns = dc)
X_train = X_train.drop('1', axis = 1)
X_train.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Shops,ATMs,Downtown,Weekday,Center,High,Shops^2,Shops ATMs,Shops Downtown,Shops Weekday,...,Weekday^3,Weekday^2 Center,Weekday^2 High,Weekday Center^2,Weekday Center High,Weekday High^2,Center^3,Center^2 High,Center High^2,High^3
0,10.18,10.0,1.0,0.0,0.0,0.0,103.6324,101.80,10.18,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9.74,10.0,1.0,1.0,0.0,0.0,94.8676,97.40,9.74,9.74,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.96,2.0,0.0,0.0,0.0,1.0,0.9216,1.92,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,9.58,9.0,1.0,1.0,0.0,1.0,91.7764,86.22,9.58,9.58,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1.03,4.0,0.0,1.0,0.0,1.0,1.0609,4.12,0.00,1.03,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
import statsmodels.api as sm
x_with_intercept = sm.add_constant(X_train, prepend=True)
model = sm.OLS(y_train, x_with_intercept)
results = model.fit()  # perform linear regression

print(results.summary())

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                            OLS Regression Results
==============================================================================
Dep. Variable:               Withdraw   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.016e+06
Date:                Sat, 12 Nov 2022   Prob (F-statistic):               0.00
Time:                        14:08:14   Log-Likelihood:                -15849.
No. Observations:               22000   AIC:                         3.181e+04
Df Residuals:                   21944   BIC:                         3.226e+04
Df Model:                          55
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      18.3130      1.762     10.392      0.000      14.859      21.767
Shops                       2.4391      3.482      0.701      0.484      -4.386       9.264
ATMs                       -0.8684      0.129     -6.715      0.000      -1.122      -0.615
Downtown                  -82.4170     68.480     -1.204      0.229    -216.643      51.809
Weekday                    -0.5963      0.107     -5.568      0.000      -0.806      -0.386
Center                      1.0707      0.160      6.674      0.000       0.756       1.385
High                        0.3911      0.108      3.620      0.000       0.179       0.603
Shops^2                    -0.3955      1.805     -0.219      0.827      -3.933       3.142
Shops ATMs                 -0.1843      0.140     -1.319      0.187      -0.458       0.089
Shops Downtown             33.5463     30.379      1.104      0.269     -25.998      93.090
Shops Weekday              -0.1731      0.208     -0.833      0.405      -0.580       0.234
Shops Center                0.8483      0.308      2.752      0.006       0.244       1.452
Shops High                 -0.2680      0.207     -1.293      0.196      -0.674       0.138
ATMs^2                      0.0003      0.006      0.053      0.958      -0.011       0.012
ATMs Downtown               2.0789      1.769      1.175      0.240      -1.388       5.545
ATMs Weekday               -0.0100      0.014     -0.736      0.462      -0.037       0.017
ATMs Center                 0.0094      0.021      0.456      0.648      -0.031       0.050
ATMs High                   0.0016      0.014      0.114      0.909      -0.026       0.029
Downtown^2                -82.4170     68.480     -1.204      0.229    -216.643      51.809
Downtown Weekday            4.2441      5.116      0.830      0.407      -5.783      14.271
Downtown Center            -0.5020      7.638     -0.066      0.948     -15.473      14.469
Downtown High              11.2057      5.122      2.188      0.029       1.166      21.245
Weekday^2                  -0.5963      0.107     -5.568      0.000      -0.806      -0.386
Weekday Center              0.0817      0.052      1.556      0.120      -0.021       0.185
Weekday High                0.0085      0.035      0.245      0.806      -0.059       0.076
Center^2                    1.0707      0.160      6.674      0.000       0.756       1.385
Center High                 0.0340      0.052      0.654      0.513      -0.068       0.136
High^2                      0.3911      0.108      3.620      0.000       0.179       0.603
Shops^3                     0.1914      0.204      0.940      0.347      -0.208       0.591
Shops^2 ATMs                0.0339      0.035      0.963      0.336      -0.035       0.103
Shops^2 Downtown           -5.3711      5.760     -0.932      0.351     -16.661       5.919
Shops^2 Weekday             0.0942      0.154      0.613      0.540      -0.207       0.395
Shops^2 Center              0.0257      0.231      0.111      0.912      -0.428       0.479
Shops^2 High                0.3406      0.154      2.215      0.027       0.039       0.642
Shops ATMs^2                0.0026      0.003      0.740      0.460      -0.004       0.009
Shops ATMs Downtown        -0.5853      0.646     -0.905      0.365      -1.852       0.682
Shops ATMs Weekday          0.0340      0.022      1.567      0.117      -0.009       0.077
Shops ATMs Center          -0.0212      0.032     -0.663      0.508      -0.084       0.041
Shops ATMs High             0.0131      0.022      0.603      0.546      -0.029       0.056
Shops Downtown^2           33.5463     30.379      1.104      0.269     -25.998      93.090
Shops Downtown Weekday     -1.9088      2.781     -0.686      0.493      -7.360       3.542
Shops Downtown Center       0.1945      4.177      0.047      0.963      -7.993       8.382
Shops Downtown High        -6.2531      2.787     -2.244      0.025     -11.715      -0.791
Shops Weekday^2            -0.1731      0.208     -0.833      0.405      -0.580       0.234
Shops Weekday Center       -2.1893      0.144    -15.163      0.000      -2.472      -1.906
Shops Weekday High         -0.0553      0.095     -0.581      0.561      -0.242       0.131
Shops Center^2              0.8483      0.308      2.752      0.006       0.244       1.452
Shops Center High          -0.0781      0.140     -0.558      0.577      -0.353       0.196
Shops High^2               -0.2680      0.207     -1.293      0.196      -0.674       0.138
ATMs^3                   3.384e-05      0.000      0.164      0.870      -0.000       0.000
ATMs^2 Downtown            -0.0258      0.032     -0.808      0.419      -0.088       0.037
ATMs^2 Weekday             -0.0019      0.002     -1.213      0.225      -0.005       0.001
ATMs^2 Center               0.0030      0.002      1.361      0.173      -0.001       0.007
ATMs^2 High                -0.0022      0.002     -1.483      0.138      -0.005       0.001
ATMs Downtown^2             2.0789      1.769      1.175      0.240      -1.388       5.545
ATMs Downtown Weekday      -0.2815      0.197     -1.428      0.153      -0.668       0.105
ATMs Downtown Center        0.1388      0.290      0.479      0.632      -0.430       0.707
ATMs Downtown High         -0.1087      0.197     -0.552      0.581      -0.495       0.278
ATMs Weekday^2             -0.0100      0.014     -0.736      0.462      -0.037       0.017
ATMs Weekday Center        -0.0076      0.014     -0.552      0.581      -0.035       0.019
ATMs Weekday High           0.0150      0.009      1.662      0.096      -0.003       0.033
ATMs Center^2               0.0094      0.021      0.456      0.648      -0.031       0.050
ATMs Center High           -0.0209      0.013     -1.556      0.120      -0.047       0.005
ATMs High^2                 0.0016      0.014      0.114      0.909      -0.026       0.029
Downtown^3                -82.4170     68.480     -1.204      0.229    -216.643      51.809
Downtown^2 Weekday          4.2441      5.116      0.830      0.407      -5.783      14.271
Downtown^2 Center          -0.5020      7.638     -0.066      0.948     -15.473      14.469
Downtown^2 High            11.2057      5.122      2.188      0.029       1.166      21.245
Downtown Weekday^2          4.2441      5.116      0.830      0.407      -5.783      14.271
Downtown Weekday Center     1.7620      1.305      1.350      0.177      -0.796       4.320
Downtown Weekday High       0.3761      0.860      0.437      0.662      -1.310       2.062
Downtown Center^2          -0.5020      7.638     -0.066      0.948     -15.473      14.469
Downtown Center High        0.9044      1.267      0.714      0.475      -1.579       3.388
Downtown High^2            11.2057      5.122      2.188      0.029       1.166      21.245
Weekday^3                  -0.5963      0.107     -5.568      0.000      -0.806      -0.386
Weekday^2 Center            0.0817      0.052      1.556      0.120      -0.021       0.185
Weekday^2 High              0.0085      0.035      0.245      0.806      -0.059       0.076
Weekday Center^2            0.0817      0.052      1.556      0.120      -0.021       0.185
Weekday Center High         0.0013      0.053      0.025      0.980      -0.102       0.104
Weekday High^2              0.0085      0.035      0.245      0.806      -0.059       0.076
Center^3                    1.0707      0.160      6.674      0.000       0.756       1.385
Center^2 High               0.0340      0.052      0.654      0.513      -0.068       0.136
Center High^2               0.0340      0.052      0.654      0.513      -0.068       0.136
High^3                      0.3911      0.108      3.620      0.000       0.179       0.603
==============================================================================
Omnibus:                        2.710   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.258   Jarque-Bera (JB):                2.686
Skew:                           0.014   Prob(JB):                        0.261
Kurtosis:                       2.954   Cond. No.                     1.25e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.89e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
X_train = X_train[['Shops', 'ATMs', 'Downtown', 'Weekday', 'Center','High','Shops Center','Shops Weekday','Weekday Center','Shops Weekday Center']]
X_train = sm.add_constant(X_train, prepend=True)
model = sm.OLS(y_train, X_train)
results = model.fit()  # perform linear regression

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Withdraw   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 4.460e+06
Date:                Sat, 12 Nov 2022   Prob (F-statistic):               0.00
Time:                        14:08:14   Log-Likelihood:                -18348.
No. Observations:               22000   AIC:                         3.672e+04
Df Residuals:                   21989   BIC:                         3.681e+04
Df Model:                          10
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    9.7600      0.027    359.309      0.000       9.707       9.813
Shops                   10.7660      0.022    490.397      0.000      10.723      10.809
ATMs                    -1.0004      0.002   -475.688      0.000      -1.005      -0.996
Downtown               -36.3879      0.198   -184.014      0.000     -36.776     -36.000
Weekday                 -2.0227      0.018   -113.805      0.000      -2.058      -1.988
Center                   2.9908      0.045     66.134      0.000       2.902       3.079
High                     0.9990      0.008    122.009      0.000       0.983       1.015
Shops Center             1.9974      0.005    366.123      0.000       1.987       2.008
Shops Weekday            0.0027      0.002      1.279      0.201      -0.001       0.007
Weekday Center          -0.0337      0.055     -0.618      0.537      -0.141       0.073
Shops Weekday Center    -1.9926      0.007   -304.672      0.000      -2.005      -1.980
==============================================================================
Omnibus:                       44.769   Durbin-Watson:                   1.989
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.529
Skew:                           0.013   Prob(JB):                     8.75e-13
Kurtosis:                       3.245   Cond. No.                         728.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

# Linear Regression

In [ ]:
#Read the training dataset into a dataframe, and drop null values
ATM_train = pd.read_csv("ATM_training.csv")
ATM_train = ATM_train.dropna()
ATM_train.head()

   Shops  ATMs  Downtown  Weekday  Center  High   Withdraw
0  10.18    10         1        0       0     0  72.750556
1   9.74    10         1        1       0     0  66.720482
2   0.96     2         0        0       0     1  19.189516
3   9.58     9         1        1       0     1  67.388669
4   1.03     4         0        1       0     1  15.813127

In [ ]:
#Read the testing dataset into a dataframe, and drop null values
ATM_test = pd.read_csv("ATM_test.csv")
ATM_test = ATM_test.dropna()
ATM_test.head()

   Shops  ATMs  Downtown  Weekday  Center  High   Withdraw
0   0.94     4         0        0       0     0  15.876301
1  10.05     8         1        1       0     0  70.836720
2  10.06    13         1        1       0     0  67.735446
3  10.56    12         1        1       0     0  73.686420
4  10.17     7         1        1       0     0  74.524830

In [ ]:
ATM_train['Shops:Center'] = ATM_train['Shops']*ATM_train['Center']
ATM_train['Shops:Weekday'] = ATM_train['Shops']*ATM_train['Weekday']
ATM_train['Weekday:Center'] = ATM_train['Weekday']*ATM_train['Center']
ATM_train['Shops:Weekday:Center'] = ATM_train['Shops']*ATM_train['Weekday']*ATM_train['Center']
ATM_train.head()

,Shops,ATMs,Downtown,Weekday,Center,High,Withdraw,Shops:Center,Shops:Weekday,Weekday:Center,Shops:Weekday:Center
0,10.18,10,1,0,0,0,72.750556,0.0,0.00,0,0.0
1,9.74,10,1,1,0,0,66.720482,0.0,9.74,0,0.0
2,0.96,2,0,0,0,1,19.189516,0.0,0.00,0,0.0
3,9.58,9,1,1,0,1,67.388669,0.0,9.58,0,0.0
4,1.03,4,0,1,0,1,15.813127,0.0,1.03,0,0.0

In [ ]:
ATM_test['Shops:Center'] = ATM_test['Shops']*ATM_test['Center']
ATM_test['Shops:Weekday'] = ATM_test['Shops']*ATM_test['Weekday']
ATM_test['Weekday:Center'] = ATM_test['Weekday']*ATM_test['Center']
ATM_test['Shops:Weekday:Center'] = ATM_test['Shops']*ATM_test['Weekday']*ATM_test['Center']
ATM_test.head()

,Shops,ATMs,Downtown,Weekday,Center,High,Withdraw,Shops:Center,Shops:Weekday,Weekday:Center,Shops:Weekday:Center
0,0.94,4,0,0,0,0,15.876301,0.0,0.00,0,0.0
1,10.05,8,1,1,0,0,70.836720,0.0,10.05,0,0.0
2,10.06,13,1,1,0,0,67.735446,0.0,10.06,0,0.0
3,10.56,12,1,1,0,0,73.686420,0.0,10.56,0,0.0
4,10.17,7,1,1,0,0,74.524830,0.0,10.17,0,0.0

In [ ]:
#Define the withdraw variable as the response variable and the rest as the independent variables
response = ['Withdraw']
predictors = [x for x in list(ATM_train.columns) if x not in response]
X_train = ATM_train[predictors]
y_train = ATM_train[response]
X_test = ATM_test[predictors]
y_test = ATM_test[response]

In [ ]:
corr = X_train.corr()
print(corr)

                         Shops      ATMs  Downtown   Weekday    Center  \
Shops                 1.000000  0.872903  0.999131  0.013014  0.000004
ATMs                  0.872903  1.000000  0.873726  0.009766 -0.003306
Downtown              0.999131  0.873726  1.000000  0.012664 -0.000101
Weekday               0.013014  0.009766  0.012664  1.000000 -0.007153
Center                0.000004 -0.003306 -0.000101 -0.007153  1.000000
High                  0.001820 -0.002616  0.001782 -0.006793  0.010521
Shops:Center          0.163617  0.138746  0.163343 -0.001678  0.859604
Shops:Weekday         0.617190  0.535823  0.616373  0.691636 -0.003045
Weekday:Center        0.004895  0.002645  0.004694  0.176490  0.825553
Shops:Weekday:Center  0.137070  0.117357  0.136751  0.153040  0.715861

                          High  Shops:Center  Shops:Weekday  Weekday:Center  \
Shops                 0.001820      0.163617       0.617190        0.004895
ATMs                 -0.002616      0.138746       0.535823        0.002645
Downtown              0.001782      0.163343       0.616373        0.004694
Weekday              -0.006793     -0.001678       0.691636        0.176490
Center                0.010521      0.859604      -0.003045        0.825553
High                  1.000000      0.010266      -0.003622        0.009979
Shops:Center          0.010266      1.000000       0.097820        0.717455
Shops:Weekday        -0.003622      0.097820       1.000000        0.124295
Weekday:Center        0.009979      0.717455       0.124295        1.000000
Shops:Weekday:Center  0.012223      0.834078       0.221703        0.867129

                      Shops:Weekday:Center
Shops                             0.137070
ATMs                              0.117357
Downtown                          0.136751
Weekday                           0.153040
Center                            0.715861
High                              0.012223
Shops:Center                      0.834078
Shops:Weekday                     0.221703
Weekday:Center                    0.867129
Shops:Weekday:Center              1.000000

In [ ]:
#Inspecting the relationship between each pair of variables
#sns.pairplot(X_train)

In [ ]:
X_train = ATM_train[['Shops', 'ATMs', 'Downtown', 'Weekday', 'Center','High']]

In [ ]:
formula = 'Withdraw ~ Shops + ATMs + Downtown  + Weekday + Center + High + Shops*Center + Shops*Weekday + Weekday*Center + Shops*Weekday*Center'

model = smf.ols(formula, ATM_train)

results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Withdraw   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 4.460e+06
Date:                Sat, 12 Nov 2022   Prob (F-statistic):               0.00
Time:                        14:08:15   Log-Likelihood:                -18348.
No. Observations:               22000   AIC:                         3.672e+04
Df Residuals:                   21989   BIC:                         3.681e+04
Df Model:                          10
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                9.7600      0.027    359.309      0.000       9.707       9.813
Shops                   10.7660      0.022    490.397      0.000      10.723      10.809
ATMs                    -1.0004      0.002   -475.688      0.000      -1.005      -0.996
Downtown               -36.3879      0.198   -184.014      0.000     -36.776     -36.000
Weekday                 -2.0227      0.018   -113.805      0.000      -2.058      -1.988
Center                   2.9908      0.045     66.134      0.000       2.902       3.079
High                     0.9990      0.008    122.009      0.000       0.983       1.015
Shops:Center             1.9974      0.005    366.123      0.000       1.987       2.008
Shops:Weekday            0.0027      0.002      1.279      0.201      -0.001       0.007
Weekday:Center          -0.0337      0.055     -0.618      0.537      -0.141       0.073
Shops:Weekday:Center    -1.9926      0.007   -304.672      0.000      -2.005      -1.980
==============================================================================
Omnibus:                       44.769   Durbin-Watson:                   1.989
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.529
Skew:                           0.013   Prob(JB):                     8.75e-13
Kurtosis:                       3.245   Cond. No.                         728.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
y_pred = results.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(ATM_test['Withdraw'], y_pred)

0.3089239792894667

# Lasso Regression

Before Lasso Regression, Standardize all Predictors

In [ ]:
response = ['Withdraw']
numerical_predictors=['Shops', 'ATMs', 'Shops:Center', 'Shops:Weekday', 'Shops:Weekday:Center']
predictors=[x for x in list(ATM_train.columns) if x not in response] # the list all predictors
mu=ATM_train[numerical_predictors].mean() # mean for each feature
sigma=ATM_train[numerical_predictors].std() # std for each feature

In [ ]:
ATM_test[predictors].head()

,Shops,ATMs,Downtown,Weekday,Center,High,Shops:Center,Shops:Weekday,Weekday:Center,Shops:Weekday:Center
0,0.94,4,0,0,0,0,0.0,0.00,0,0.0
1,10.05,8,1,1,0,0,0.0,10.05,0,0.0
2,10.06,13,1,1,0,0,0.0,10.06,0,0.0
3,10.56,12,1,1,0,0,0.0,10.56,0,0.0
4,10.17,7,1,1,0,0,0.0,10.17,0,0.0

In [ ]:
ATM_train[numerical_predictors]=(ATM_train[numerical_predictors]-mu)/sigma
ATM_test[numerical_predictors]=(ATM_test[numerical_predictors]-mu)/sigma

In [ ]:
X_test = ATM_test[predictors]

In [ ]:
from sklearn.linear_model import LassoCV

lasso = LassoCV(cv=10)
lasso.fit(ATM_train[predictors], np.ravel(ATM_train[response]))

LassoCV(cv=10)

In [ ]:
print("LASSO Lambda: {0}".format(lasso.alpha_))

LASSO Lambda: 0.02474215837362939

In [ ]:
pd.DataFrame(lasso.coef_.round(3),index = predictors).T

,Shops,ATMs,Downtown,Weekday,Center,High,Shops:Center,Shops:Weekday,Weekday:Center,Shops:Weekday:Center
0,27.588,-3.592,-0.0,-1.919,2.094,0.885,5.265,-0.0,0.0,-4.266

In [ ]:
y_pred = lasso.predict(X_test)
test_error = mean_squared_error(ATM_test['Withdraw'], y_pred).round(4)
print(test_error)

0.9816

# Ridge Regression

In [ ]:
from sklearn.linear_model import RidgeCV

alphas = np.exp(np.linspace(-10,20,500)) 
ridge_cv = RidgeCV(alphas=alphas, cv=5)
ridge_cv.fit(ATM_train[predictors], np.ravel(ATM_train[response]))

RidgeCV(alphas=array([4.53999298e-05, 4.82131015e-05, 5.12005892e-05, 5.43731942e-05,
       5.77423873e-05, 6.13203499e-05, 6.51200182e-05, 6.91551300e-05,
       7.34402743e-05, 7.79909444e-05, 8.28235932e-05, 8.79556934e-05,
       9.34058002e-05, 9.91936187e-05, 1.05340075e-04, 1.11867391e-04,
       1.18799168e-04, 1.26160467e-04, 1.33977903e-04, 1.42279741e-04,
       1.51095996e-04, 1.60458543e-0...
       1.21720071e+08, 1.29262362e+08, 1.37272005e+08, 1.45777959e+08,
       1.54810978e+08, 1.64403721e+08, 1.74590870e+08, 1.85409259e+08,
       1.96898001e+08, 2.09098634e+08, 2.22055270e+08, 2.35814754e+08,
       2.50426834e+08, 2.65944340e+08, 2.82423376e+08, 2.99923523e+08,
       3.18508053e+08, 3.38244159e+08, 3.59203198e+08, 3.81460948e+08,
       4.05097881e+08, 4.30199460e+08, 4.56856438e+08, 4.85165195e+08]),
        cv=5)

In [ ]:
print("Ridge Lambda: {0}".format(ridge_cv.alpha_))

Ridge Lambda: 0.0005340238055689655

In [ ]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=ridge_cv.alpha_)
ridge.fit(ATM_train[predictors], np.ravel(ATM_train[response]))

Ridge(alpha=0.0005340238055689655)

In [ ]:
pd.DataFrame(ridge.coef_.round(3),index = predictors).T

,Shops,ATMs,Downtown,Weekday,Center,High,Shops:Center,Shops:Weekday,Weekday:Center,Shops:Weekday:Center
0,44.34,-3.675,-36.384,-2.023,2.991,0.999,5.156,0.013,-0.034,-4.394

In [ ]:
y_pred = ridge.predict(X_test)
test_error = mean_squared_error(ATM_test['Withdraw'], y_pred).round(4)
print(test_error)

0.3089

# Elastic Net CV

In [ ]:
from sklearn.linear_model import ElasticNetCV
enet_cv = ElasticNetCV(l1_ratio=[0.01,0.05,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.95,0.99], cv=5)
enet_cv.fit(ATM_train[predictors],np.ravel(ATM_train[response]))

ElasticNetCV(cv=5,
             l1_ratio=[0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9,
                       0.95, 0.99])

In [ ]:
y_pred = enet_cv.predict(X_test)
test_error = mean_squared_error(ATM_test['Withdraw'], y_pred).round(4)
print(test_error)

0.9858

In [ ]:
from sklearn.linear_model import ElasticNet
enet = ElasticNet(alpha=enet_cv.alpha_, l1_ratio=enet_cv.l1_ratio_)
enet.fit(ATM_train[predictors],np.ravel(ATM_train[response]))

ElasticNet(alpha=0.024992079165282215, l1_ratio=0.99)

In [ ]:
y_pred = enet.predict(X_test)
test_error = mean_squared_error(ATM_test['Withdraw'], y_pred).round(4)
print(test_error)

0.9858

# KNN Classifiers

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
kf=KFold(10)

In [ ]:
ATM_train = pd.read_csv("ATM_training.csv")
ATM_train = ATM_train.dropna()

In [ ]:
ATM_test = pd.read_csv("ATM_test.csv")
ATM_test = ATM_train.dropna()

In [ ]:
def knn_test(predictors, response):
    
    neighbours=np.arange(1, 51)
    best_score = -np.inf
    
    for k in neighbours: 
        knn = KNeighborsRegressor(n_neighbors = k, metric='mahalanobis', metric_params={'V': ATM_train[predictors].cov()}) 
        scores = cross_val_score(knn, ATM_train[predictors], ATM_train[response], cv=10, scoring = 'neg_mean_squared_error')
        # taking the average of scores across 10 folds
        cv_score = np.mean(scores)
        # use the cv score for model selection
        if cv_score >= best_score:
            best_score = cv_score
            best_knn = knn
    
    knn = best_knn
    # train the selected model with the whole train set
    knn.fit(ATM_train[predictors], ATM_train[response])
    # Predict the test data with the selected and re-estimated model
    predictions = knn.predict(ATM_test[predictors])
    test_mse = mean_squared_error(ATM_test[response], predictions)
    cv_mse= -best_score
    print('Chosen K: {}'.format(knn.n_neighbors))
    
    return test_mse, cv_mse

In [ ]:
test_error = knn_test(['Shops', 'ATMs', 'Downtown', 'Weekday', 'Center','High'], 'Withdraw')[0]

Chosen K: 7

In [ ]:
print(test_error)

0.25022989535916096

# Neural Networks/Deep Learning

In [ ]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# from tensorflow import keras 
from keras.layers.core import Dense 
from keras.models import Sequential

In [ ]:
np.random.seed(1)
import tensorflow as tf
tf.random.set_seed(0)

In [ ]:
ATM_train = pd.read_csv('ATM_training.csv')
ATM_train.dropna()

ATM_test = pd.read_csv('ATM_test.csv')
ATM_test.dropna()

     Shops  ATMs  Downtown  Weekday  Center  High   Withdraw
0     0.94     4         0        0       0     0  15.876301
1    10.05     8         1        1       0     0  70.836720
2    10.06    13         1        1       0     0  67.735446
3    10.56    12         1        1       0     0  73.686420
4    10.17     7         1        1       0     0  74.524830
..     ...   ...       ...      ...     ...   ...        ...
145   9.58    12         1        0       0     0  64.871203
146   0.98     1         0        1       0     0  17.918977
147   9.98     8         1        1       0     1  72.159322
148   9.58     9         1        1       0     0  65.373738
149   9.97    12         1        0       1     0  91.419667

[150 rows x 7 columns]

In [ ]:
ATM_train['Shops:Center'] = ATM_train['Shops']*ATM_train['Center']
ATM_train['Shops:Weekday'] = ATM_train['Shops']*ATM_train['Weekday']
ATM_train['Weekday:Center'] = ATM_train['Weekday']*ATM_train['Center']
ATM_train['Shops:Weekday:Center'] = ATM_train['Shops']*ATM_train['Weekday']*ATM_train['Center']
ATM_train.head()

,Shops,ATMs,Downtown,Weekday,Center,High,Withdraw,Shops:Center,Shops:Weekday,Weekday:Center,Shops:Weekday:Center
0,10.18,10,1,0,0,0,72.750556,0.0,0.00,0,0.0
1,9.74,10,1,1,0,0,66.720482,0.0,9.74,0,0.0
2,0.96,2,0,0,0,1,19.189516,0.0,0.00,0,0.0
3,9.58,9,1,1,0,1,67.388669,0.0,9.58,0,0.0
4,1.03,4,0,1,0,1,15.813127,0.0,1.03,0,0.0

In [ ]:
ATM_test['Shops:Center'] = ATM_test['Shops']*ATM_test['Center']
ATM_test['Shops:Weekday'] = ATM_test['Shops']*ATM_test['Weekday']
ATM_test['Weekday:Center'] = ATM_test['Weekday']*ATM_test['Center']
ATM_test['Shops:Weekday:Center'] = ATM_test['Shops']*ATM_test['Weekday']*ATM_test['Center']
ATM_test.head()

,Shops,ATMs,Downtown,Weekday,Center,High,Withdraw,Shops:Center,Shops:Weekday,Weekday:Center,Shops:Weekday:Center
0,0.94,4,0,0,0,0,15.876301,0.0,0.00,0,0.0
1,10.05,8,1,1,0,0,70.836720,0.0,10.05,0,0.0
2,10.06,13,1,1,0,0,67.735446,0.0,10.06,0,0.0
3,10.56,12,1,1,0,0,73.686420,0.0,10.56,0,0.0
4,10.17,7,1,1,0,0,74.524830,0.0,10.17,0,0.0

In [ ]:
#Define the withdraw variable as the response variable and the rest as the independent variables
response = ['Withdraw']
predictors = [x for x in list(ATM_train.columns) if x not in response]
X_train = ATM_train[predictors]
y_train = ATM_train[response]
X_test = ATM_test[predictors]
y_test = ATM_test[response]

In [ ]:
print(ATM_train.shape, ATM_test.shape)

(22000, 11) (150, 11)

**Preprocessing**

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fitting the scaler
ATM_train_fit = scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

We test the model using a variety of Epochs from a the range of 60 to 100. Because the computation time for this is very long, after the initial run, the model was exported using joblib so it can be called upon the next run. The code used to test the list of Epochs is at the very bottom of this notebook

# BEST NN MODEL FOUND
---

THE CODE BELOW IS A PRECOMPUTED MODEL (SAVED USING JOBLIB) USING THE SCRIPT AT THE VERY BOTTOM OF THE NOTEBOOK THAT WAS RUN >10 TIMES TO ACCOUNT FOR STOCHASTIC RANDOMNESS

In [ ]:
import keras
## load tensorflow model
save_path = './Group_32_Best_NN_Model.h5'
loaded_model = keras.models.load_model(save_path)
test_error = loaded_model.evaluate(X_test, y_test)
print(round(test_error, 4))

5/5 [==============================] - 0s 3ms/step - loss: 0.2275
0.2275

---

From the code at the very bottom of this notebook, epochs = 70 was found to be the best for lowest Test Error, so let's give it a run first. Note, results will vary each run due to the stochastic nature of NNs

In [ ]:
model = Sequential()
model.add(Dense(11, input_dim=10, activation='relu'))
model.add(Dense(1, activation='linear'))
model.compile(loss='MSE', optimizer='adam')
model.fit(X_train, y_train, epochs = 70, batch_size = 10)
test_error = model.evaluate(X_test, y_test)
print('\n MSE of test data using adam optimizer: ')
print(round(test_error, 4))

Epoch 1/70
2200/2200 [==============================] - 4s 2ms/step - loss: 1363.4503
Epoch 2/70
2200/2200 [==============================] - 4s 2ms/step - loss: 20.9554
Epoch 3/70
2200/2200 [==============================] - 4s 2ms/step - loss: 1.6193
Epoch 4/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.9851
Epoch 5/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.7239
Epoch 6/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.5587
Epoch 7/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.4576
Epoch 8/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.3901
Epoch 9/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.3558
Epoch 10/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.3320
Epoch 11/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.3213
Epoch 12/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.3115
Epoch 13/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.3066
Epoch 14/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.3011
Epoch 15/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2989
Epoch 16/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2951
Epoch 17/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2930
Epoch 18/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2914
Epoch 19/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2887
Epoch 20/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2846
Epoch 21/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2832
Epoch 22/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2819
Epoch 23/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2823
Epoch 24/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2807
Epoch 25/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2791
Epoch 26/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2789
Epoch 27/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2780
Epoch 28/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2778
Epoch 29/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2765
Epoch 30/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2765
Epoch 31/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2754
Epoch 32/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2762
Epoch 33/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2737
Epoch 34/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2722
Epoch 35/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2742
Epoch 36/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2733
Epoch 37/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2741
Epoch 38/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2746
Epoch 39/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2734
Epoch 40/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2720
Epoch 41/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2712
Epoch 42/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2716
Epoch 43/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2710
Epoch 44/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2723
Epoch 45/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2698
Epoch 46/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2719
Epoch 47/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2700
Epoch 48/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2709
Epoch 49/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2703
Epoch 50/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2705
Epoch 51/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2699
Epoch 52/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2694
Epoch 53/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2703
Epoch 54/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2703
Epoch 55/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2698
Epoch 56/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2689
Epoch 57/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2690
Epoch 58/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2680
Epoch 59/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2694
Epoch 60/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2702
Epoch 61/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2687
Epoch 62/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2695
Epoch 63/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2695
Epoch 64/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2690
Epoch 65/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2687
Epoch 66/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2681
Epoch 67/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2684
Epoch 68/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2687
Epoch 69/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2682
Epoch 70/70
2200/2200 [==============================] - 4s 2ms/step - loss: 0.2695
5/5 [==============================] - 0s 3ms/step - loss: 0.2411

 MSE of test data using adam optimizer:
0.2411

Try NN with the Stochastic gradient descent (SGD) optimizer

In [ ]:
model = Sequential()
model.add(Dense(11, input_dim=10, activation='relu'))
model.add(Dense(1, activation='linear'))
model.compile(loss='MSE', optimizer='SGD')
model.fit(X_train, y_train, epochs = 70, batch_size = 10)
test_error = model.evaluate(X_test, y_test)
print('\n MSE of test data using sgd optimizer: ')
print(round(test_error, 4))

Epoch 1/70
2200/2200 [==============================] - 4s 1ms/step - loss: 132.7096
Epoch 2/70
2200/2200 [==============================] - 3s 1ms/step - loss: 116.3523
Epoch 3/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.7797
Epoch 4/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.4519
Epoch 5/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.4017
Epoch 6/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2700
Epoch 7/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.3302
Epoch 8/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1663
Epoch 9/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2611
Epoch 10/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2640
Epoch 11/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2721
Epoch 12/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2187
Epoch 13/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2488
Epoch 14/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1685
Epoch 15/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2365
Epoch 16/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2289
Epoch 17/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1721
Epoch 18/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2034
Epoch 19/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1949
Epoch 20/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1905
Epoch 21/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2111
Epoch 22/70
2200/2200 [==============================] - 3s 1ms/step - loss: 86.2283
Epoch 23/70
2200/2200 [==============================] - 3s 1ms/step - loss: 6.8363
Epoch 24/70
2200/2200 [==============================] - 3s 1ms/step - loss: 6.8951
Epoch 25/70
2200/2200 [==============================] - 3s 1ms/step - loss: 10.5459
Epoch 26/70
2200/2200 [==============================] - 3s 1ms/step - loss: 7.4643
Epoch 27/70
2200/2200 [==============================] - 3s 1ms/step - loss: 12.4330
Epoch 28/70
2200/2200 [==============================] - 3s 1ms/step - loss: 101.2404
Epoch 29/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2272
Epoch 30/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1298
Epoch 31/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1916
Epoch 32/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2036
Epoch 33/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1831
Epoch 34/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2155
Epoch 35/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1804
Epoch 36/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2319
Epoch 37/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1165
Epoch 38/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2114
Epoch 39/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2392
Epoch 40/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.0586
Epoch 41/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1915
Epoch 42/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2132
Epoch 43/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1551
Epoch 44/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1585
Epoch 45/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2062
Epoch 46/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1839
Epoch 47/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2059
Epoch 48/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2231
Epoch 49/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1437
Epoch 50/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2187
Epoch 51/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1988
Epoch 52/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1973
Epoch 53/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1793
Epoch 54/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1704
Epoch 55/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.0837
Epoch 56/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2353
Epoch 57/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.0717
Epoch 58/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2015
Epoch 59/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1934
Epoch 60/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1750
Epoch 61/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2054
Epoch 62/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1598
Epoch 63/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2146
Epoch 64/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1871
Epoch 65/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1743
Epoch 66/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2306
Epoch 67/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1770
Epoch 68/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2127
Epoch 69/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.2137
Epoch 70/70
2200/2200 [==============================] - 3s 1ms/step - loss: 104.1629
5/5 [==============================] - 0s 3ms/step - loss: 81.9272

 MSE of test data using sgd optimizer:
81.9272

Test epochs from a range of 60 to 80, incremented by 1.

In [ ]:
import keras
#Create an array of epochs to test
epoch_list = range(60,80,1)
#Set up the NN
model = Sequential()
model.add(Dense(11, input_dim=10, activation='relu'))
model.add(Dense(1, activation='linear'))
model.compile(loss='MSE', optimizer='adam')
#Compute the best test error
test_error = np.inf
for epoch in epoch_list:
  model.fit(X_train, y_train, epochs = epoch, batch_size = 10, verbose = 0)
  error = model.evaluate(X_test, y_test)
  if error < test_error:
    test_error = error
    best_model = model
    best_epoch = epoch
  print(f"Epoch {epoch}: complete, Test Error: {error}")
#Export the best model, so we don't have to run the code again
save_path = './Group_32_Best_NN_Model.h5'
best_model.save(save_path)
print("------------------------------------------")
print("           FINAL RESULTS                  ")
print("------------------------------------------")
print('\n MSE of test data using adam optimizer:  ')
print('\nBest epoch no.: ', best_epoch)
print('\n MSE of test data using adam optimizer:  ')
print(round(test_error, 4))

5/5 [==============================] - 0s 3ms/step - loss: 0.2526
Epoch 60: complete, Test Error: 0.25258469581604004
5/5 [==============================] - 0s 3ms/step - loss: 0.2388
Epoch 61: complete, Test Error: 0.2388327717781067
5/5 [==============================] - 0s 3ms/step - loss: 0.2295
Epoch 62: complete, Test Error: 0.22949358820915222
5/5 [==============================] - 0s 3ms/step - loss: 0.2489
Epoch 63: complete, Test Error: 0.24885815382003784
5/5 [==============================] - 0s 3ms/step - loss: 0.2369
Epoch 64: complete, Test Error: 0.23693063855171204
5/5 [==============================] - 0s 3ms/step - loss: 0.2421
Epoch 65: complete, Test Error: 0.2420942187309265
5/5 [==============================] - 0s 3ms/step - loss: 0.2370
Epoch 66: complete, Test Error: 0.2370048314332962
5/5 [==============================] - 0s 3ms/step - loss: 0.2657
Epoch 67: complete, Test Error: 0.2657413184642792
5/5 [==============================] - 0s 3ms/step - loss: 0.2610
Epoch 68: complete, Test Error: 0.26097220182418823
5/5 [==============================] - 0s 3ms/step - loss: 0.2505
Epoch 69: complete, Test Error: 0.25048673152923584
5/5 [==============================] - 0s 3ms/step - loss: 0.2318
Epoch 70: complete, Test Error: 0.23182083666324615
5/5 [==============================] - 0s 3ms/step - loss: 0.2406
Epoch 71: complete, Test Error: 0.24059446156024933
5/5 [==============================] - 0s 3ms/step - loss: 0.2547
Epoch 72: complete, Test Error: 0.25471389293670654
5/5 [==============================] - 0s 3ms/step - loss: 0.2410
Epoch 73: complete, Test Error: 0.24095916748046875
5/5 [==============================] - 0s 5ms/step - loss: 0.2324
Epoch 74: complete, Test Error: 0.2323829084634781
5/5 [==============================] - 0s 3ms/step - loss: 0.2415
Epoch 75: complete, Test Error: 0.24154849350452423
5/5 [==============================] - 0s 3ms/step - loss: 0.2496
Epoch 76: complete, Test Error: 0.2496366947889328
5/5 [==============================] - 0s 3ms/step - loss: 0.2532
Epoch 77: complete, Test Error: 0.2532132565975189
5/5 [==============================] - 0s 4ms/step - loss: 0.2479
Epoch 78: complete, Test Error: 0.2479119598865509
5/5 [==============================] - 0s 4ms/step - loss: 0.2330
Epoch 79: complete, Test Error: 0.2330339103937149
------------------------------------------
           FINAL RESULTS
------------------------------------------

 MSE of test data using adam optimizer:

Best epoch no.:  62

 MSE of test data using adam optimizer:
0.2295

Because epochs = 70 was found to be the best model optimizer, the following code is a very inefficient way of getting a potentially even more accurate result by running epochs = 70 over many repetitive iterations and selecting the best score.

In [ ]:
import keras
#Create an array of epochs to test
iterations = range(1,30,1)
#Set up the NN
model = Sequential()
model.add(Dense(11, input_dim=10, activation='relu'))
model.add(Dense(1, activation='linear'))
model.compile(loss='MSE', optimizer='adam')
#Compute the best test error
test_error = np.inf
for epoch in iterations:
  model.fit(X_train, y_train, epochs = 70, batch_size = 10, verbose = 0)
  error = model.evaluate(X_test, y_test)
  if error < test_error:
    test_error = error
    best_model = model
    best_epoch = epoch
  print(f"Epoch {epoch}: complete, Test Error: {error}")
#Export the best model, so we don't have to run the code again
save_path = './Group_32_Best_NN_Model.h5'
best_model.save(save_path)
print("------------------------------------------")
print("           FINAL RESULTS                  ")
print("------------------------------------------")
print('\n MSE of test data using adam optimizer:  ')
print('\nBest epoch no.: ', best_epoch)
print('\n MSE of test data using adam optimizer:  ')
print(round(test_error, 4))